# -*- coding: utf-8 -*-
# vim: ft=yaml
---
epel:
  lookup:
    # URL to the EPEL RPM to install
    rpm: default varies with OS; see epel/init.sls

    # URL to the EPEL GPG key
    pubkey: default varies with OS; see epel/map.jinja
    pubkey_hash: default varies with OS; see epel/map.jinja

    # filename for the local EPEL Key
    pubkey_name: default varies with OS; see epel/map.jinja

    # Disable repo so requires the --enablerepo flag to use
    disabled: false

    # Disable (default)/enable EPEL testing
    testing: false

    # Alternative, more detailed per-repo configuration
    repos:
      epel:
        enabled: true
        exclude:
          - pkg1
          - pkg2
      epel-debuginfo:
        enabled: true
      epel-source:
        enabled: true
      epel-testing:
        enabled: false
      epel-testing-debuginfo:
        enabled: false
      epel-testing-source:
        enabled: false

    # https://docs.saltproject.io/en/latest/ref/states/requisites.html#retrying-states
    retry_options:
      attempts: 3
      until: true
      interval: 10
      splay: 10
